// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;

//color customized

$light-gray: #F4F4F4;
$lm-gray: #E5E5E5;
$light-dark: #403739;
$dark-gray: #848484;
$dm-gray: #C4C4C4;
$white: #FDFDFD;
$green: #4CD3C2;
