// Taille classique

// Cover
.cover {
  height: 600px;
  width: 100vw;
  background-image: linear-gradient(rgba(0,0,0,.01), rgba(0,0,0,.01)), asset-url('immeuble-comara-presentation.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#Title-home {
  font-size: 96px;
  color: $white !important;
  text-shadow: 2px 2px 2px $dark-gray;
}

#catch-phrase-home {
  color: $white;
}

// presentation

.presentation-home {

  min-height: 300px;
  padding: 100px 70px;
}

.title-presentation-immeuble {
  border-bottom: 1px solid $lm-gray;
}

.photo-home {
  width: 510px;
  height: 430px;
  border-radius: 5px;
}

// review part

.review {
  background-color: $green;
  height: 250px;
  width: 285px;
  // margin: 50px;
}

.sup-review {
  height: 0;
  width: 0;
  border-bottom: 30px solid $green;
  border-right: 285px solid transparent;
}

.sub-review {
  height: 0;
  width: 0;
  border-top: 30px solid $green;
  border-left: 285px solid transparent;
}

.reviews {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
}

.comment-review {
  font-weight: 500;
  font-size: 16px;
}

//card home

.flat-index-home {
  padding: 100px 70px;
}

.card-home-flat {
  height: 290px;
  max-width: 300px;
  border-radius: 3px;
  margin: 10px;
}
.cards-flat-home {
  justify-content: center;
  margin: 50px 20px;
}

.flat-name-home {
  font-size: 20px;
}

.flat-capacity{
  font-size: 26px;
  color: $white;
  padding-top: 7px;
}

.i-user-flat-home {
  font-size: 21px;
  color: $white;
  padding: 10px;
}
.photo-flat {
  display: flex;
  height: 255px;
  width: 300px;
}

.photo-flat p {
  z-index: 1;
  margin-left: -100px;
}

.photo-flat i {
  z-index: 200;
}

.photo-flat-home {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  height: 255px !important;
  width: 100% !important;
}

.flat-cards {
  display: list-item inline;
  justify-content: center;

}

.title-flats-home {
  border-bottom: 1px solid $lm-gray;
}

// taille grande tablette
@media(max-width: 1024px) {
  // review part
  .reviews {
    display: none;
    background-color: $light-gray !important;
    height: 20px !important;
  }

    .review {
      display: none;
    }
  // flat part
  .cards-flat-home {
    margin-left: 50px;
  }
}

// taille tablette

@media(max-width: 768px) {

// review part
  .reviews {
    display: none;
    background-color: $light-gray !important;
    height: 20px !important;
  }

    .review {
      display: none;
    }

// flat part
  .cards-flat-home {
    margin-left: 50px;
  }
}

// taille grand téléphone

@media(max-width: 415px) {

  // reviews part
  .reviews {
    display: none;
    background-color: $light-gray !important;
    height: 20px !important;
  }

    .review {
      display: none;
    }

  // cover part
  #Title-home {
    font-size: 46px;
    color: $white !important;
    text-shadow: 2px 2px 2px $dark-gray;
  }

  #catch-phrase-home {
    color: $white;
    font-size: 30px
  }

  .cover {
    height: 300px;
  }

  // presentation

  .title-presentation-immeuble {
    font-size: 20px;
  }

  .text-presentation-immeuble {
    font-size: 14px;
  }

  .photo-home {
    width: 350px !important;
  }

  // flat part
  .title-flats-home {
    font-size: 20px;
  }
  .flat-cards {
    display: flex;
  }
  .cards-flat-home {
    margin-left: 0px;
  }
}

// taille petit téléphone

@media (max-width: 320px) {
  // reviews part
  .reviews {
    display: none;
    background-color: $light-gray !important;
    height: 20px !important;
  }

  .review {
    display: none;
  }

  // cover part
  #Title-home {
    font-size: 40px;
    color: $white !important;
    text-shadow: 2px 2px 2px $dark-gray;
  }

  #catch-phrase-home {
    color: $white;
    font-size: 30px
  }

  .cover {
    height: 300px;
  }

  // presentation

  .title-presentation-immeuble {
    font-size: 18px;
  }

  .text-presentation-immeuble {
    font-size: 12px;
  }

  .photo-home {
    width: 300px !important;
  }

  // part flat
  .flat-cards {
    margin: 0px;
  }
}

