<div class="footer py-5 text-center">
  <div class="row">
    <div class="col">
      <%= link_to  pages_contact_path, class: "link-footer" do %>
        <p>Nous contacter</p>
      <% end %>
    </div>
    <div class="col">
      <%= link_to pages_rgpd_path, class: "link-footer" do %>
        <p>Politique de confidentialité</p>
      <% end %>
    </div>
    <div class="col">
      <%= link_to pages_rules_path, class: "link-footer" do %>
        <p>Réglèment intérieur</p>
      <% end %>
    </div>
    <div class="col">
      <%= link_to pages_home_path, class: "link-footer" do %>
        <p> A voir</p>
      <% end %>
    </div>
  </div>
</div>
