<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <h1 class="pl-4">Immeuble Comara</h1>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <% if user_signed_in? %>
        <div class="row w-100">
          <div class="col text-center">
          <%= link_to "Appartements", user_flats_path, class: "navbar-menu" %>
          </div>
          <div class="col text-center">
          <%= link_to "Réservations", user_bookings_path, class: "navbar-menu" %>
          </div>
          <div class="col text-center">
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "navbar-menu" %>
          </div>
        </div>
      <% end %>

  </div>
</div>
