<div class="container bg-white my-5 py-5">
  <h1>Nous contacter</h1>
    <div>
      <p class="text-center">Immeuble Comara</p>
      <p class="text-center">(TOP’PAIN rue du Remblais)</p>
      <p class="text-center">à 100m de la station-service PETROCI, Quartier du Remblai, ville d’Abidjan</p>
    </div>
    <div>
      <p class="text-center">Sides.lgr@gmail.com</p>
    </div>
    <div class="d-flex">
      <div class="col">
        <p>M. COMARA Ibrahim</p>
        <p>Propriétaire</p>
        <p>(+225) 77 56 39 40</p>
      </div>
      <div class="col">
        <p>M. COMARA Amar</p>
        <p>Resp. Relation Client et Réservation</p>
        <p>(+33) 6 41 40 68 98</p>
      </div>
      <div class="col">
        <p>Melle Diero</p>
        <p>Agent d’accueil</p>
        <p>(+225) 59 75 91 17</p>
      </div>
      <div class="col">
        <p>M. Diarra</p>
        <p>Agent d’astreinte</p>
        <p>(+225) 48 28 12 93</p>
      </div>
      <div class="col">
        <p>M. Laurent</p>
        <p>Gardien</p>
        <p>(+225) 86 63 99 81</p>
      </div>
    </div>
</div>
