<div class="container bg-white p-5 my-5">
  <h1>Qui sommes-nous ? </h1>
  <div class="row py-5">
    <div class="col">
      <div class="d-flex justify-content-center">
        <%= image_tag "test-cover.jpg", class: "photo-presentation-immeuble" %>
      </div>
    </div>
    <div class="col mt-3">
      <p>
      Bonjour, Je suis Comara Ibrahim Architecte Franco-Ivoirien à la retraite. Je vous souhaite la bienvenue à Abidjan et tout particulièrement chez nous à L'immeuble Comara.
      Une équipe, est là pour gérer l’accueil ainsi que le traitement de vos réservations.</p>
      <p>
      L’immeuble Comara offre un service simple et fonctionnel de location de vacances à Abidjan, du studio au 3 pièces. Tous les appartements sont sécurisés et climatisés.
      Nous proposons des hébergements en Côte d’Ivoire et plus précisément à Abidjan quartier de Marcory Remblai Koumassi.
      Après avoir confirmé la demande de réservation sur notre site, nous vous guidons pas à pas jusqu'à votre arrivée sur les lieux.
      </p>
  </div>
</div>
<p>
L'immeuble est bien entretenu, nous sommes situés dans un quartier dynamique d'artisans, commerçants, petits snacks et bars. Géographiquement bien situé, nous sommes à 30 min maximum de tous les points vitaux d'Abidjan en voiture.
Le Quartier Authentique et en pleine mutation offre la possibilité de vivre une expérience unique dans la ville d’Abidjan.
Nous sommes présents sur les plateformes Airbnb et Booking depuis 2017 et jouissons d’une bonne réputation grâce à notre sens de l’accueil, du service et de notre bon rapport qualité prix.
Nous travaillons également avec des partenaires et propriétaires locaux pour vous offrir un service de location de vacances de qualité dans d’autres quartiers d’Abidjan, pour en savoir plus contactez-nous.
</p>

<h3>Côté quartier</h3>
<p>
Notre résidence est dans un environnement où l'on peut trouver plusieurs types de commerçants et artisans. Restaurants en terrasse, bar, cordonnier, centre commercial, palais de la culture, jardin botanique, couturiers, des marchés ou encore des ferronniers et artistes peintres qui enrichissent la diversité des évènements et activités à Abidjan.
Avec un nombre important de taxi présent la nuit comme le jour, nous sommes à Marcory Remblai proche de la station-service PETROCI cela offre le privilège à notre clientèle de se rendre partout dans Abidjan en assez peu de temps, tout en étant à l'aise dans la rue.
</p>
</div>
