<div class="container bg-white p-5 my-5">
<h1>Politique de confidentialité</h1>

<p>Dans le cadre de nos relations commerciales, Immeuble Comara s’engage envers
ses utilisateurs au respect de la vie privée et de la protection des données à caractère personnel.</p>

<p>Notre engagement est fondé sur un principe de transparence visant à respecter
 les libertés et droits fondamentaux de nos utilisateurs, conformément à la réglementation
en vigueur en Europe et en Afrique notamment en application de la loi informatique
et libertés et du Règlement Général sur la Protection des Données (RGPD).</p>

<p>La présente politique vise à informer nos utilisateurs sur les catégories
de données à caractère personnel que nous traitons, la façon dont nous les utilisons,
la durée de conservation des données, les sous-traitants auxquels nous les communiquons,
ainsi que sur les droits dont nos utilisateurs disposent.</p>

<p>Cette politique de confidentialité est susceptible d’être modifiée ou complétée
à tout moment par nos soins, notamment en vue de se conformer à toute évolution
législative, réglementaire, jurisprudentielle ou technologique. Dans un tel cas,
la date de sa mise à jour sera clairement identifiée en tête de la présente politique.
Ces modifications engagent l’Utilisateur dès leur mise en ligne.</p>

<h3>II. Quel type de données collectons-nous ?</h3>

<p>Immeuble Comara peut recueillir directement auprès de vous ou indirectement via des tiers des données à caractère personnel.</p>
<p>Les données personnelles collectées le sont sur la base d’une obligation
légale, d’un intérêt légitime ou de votre consentement.</p>
<p>Dans le cadre de l’utilisation de nos services de location de vacances,
vous nous transmettez des données personnelles par le biais de formulaires qui
peuvent être remplis manuellement ou par reconnaissance optique de caractère en
prenant en photos vos documents, sur notre site internet ou nos applications mobiles (A).</p>
<p>Certaines de vos données personnelles peuvent également être collectées
automatiquement lorsque vous vous connectez sur notre site internet ou nos
applications mobiles (B).</p>



<h4>A. Les données que vous nous transmettez dans le cadre de votre utilisation
de nos services ou applications :</h4>

<p>Données d’identification : nom, prénom, civilité, lieu et date de naissance,
photo, numéros de carte d’identité, de passeport, de titre de séjour ou de permis de conduire,
adresse postale, adresse mail, numéro de téléphone mobile, sexe, âge,
votre signature Situation familiale : Information relative au conjoint, régime matrimonial,
filiation… Données de contact et d’interaction avec nous : messages, emails, appels, interaction
sur nos sites, application mobile, et réseaux sociaux</p>

<h4>B. Les données collectées automatiquement :</h4>
<p>Nous collectons des données personnelles de manière automatique, lorsque
vous vous connectez sur notre site internet ou nos applications mobiles. Les données
collectées sont les suivantes : Informations techniques de connexion, en particulier
votre adresse IP, le type et la version de votre navigateur, votre zone horaire,
les plug-ins installés, le type de terminal que vous utilisez pour vous connecter,
le numéro d’identification de votre terminal, votre système d’exploitation.</p>

<p>Informations sur vos visites : le nombre de connexions, les heures de connexion,
les pages visitées, les durées de connexion, les recherches effectuées, votre temps de réponse,
les liens sur lesquels vous avez cliqué. Données provenant de sous-traitants :
afin d’améliorer notre qualité de service, nous collectons également des données
personnelles provenant de nos sous-traitants, notamment de régies publicitaires ou de bases
de données professionnelles ou de nos partenaires (experts comptables, notaires…). </p>

<h3>III. Utilisation des données collectées</h3>

<p>Vos données personnelles sont collectées afin de répondre aux besoins suivants :</p>
<p>Pour l’utilisation et le fonctionnement de nos Services, notamment pour vous fournir
des informations relatives à nos produits et Services, vous assister lors de demandes
de réservation à nos produits ainsi que dans le cadre de la gestion des opérations de notre
relation client.</p>
<ul>
<li>Les réponses aux demandes officielles d’autorités publiques ou judiciaires
dûment habilitées.
Pour mettre en place et développer nos produits ou services, optimiser notre gestion
du risque et défendre nos intérêts en justice, y compris à des fins de :</li>
<li>Preuve de transactions ou d’opérations ;</li>
<li>Gestion informatique y compris gestion de l’infrastructure et continuité
des activités y compris la sécurité et confort des personnes</li>
<li>Prévention de la fraude et des abus (mesures de sécurité, contrôle de
transactions inhabituelles) ;</li>
<li>Personnalisation de nos offres commerciales en améliorant la qualité des produits</li>
<li>Personnalisation des réponses à vos demandes d'information</li>
<li>Constitution d’un fichier de membres fidèles, d'utilisateurs, de clients et prospects</li>
<li>Adressage des newsletters, sollicitations et messages promotionnels.
Dans le cas où vous ne le souhaiteriez pas, nous vous donnons la faculté d'exprimer
votre refus à ce sujet lors de la collecte de vos données</li>
<li>Possibilité de nous donner votre avis sur les services que nous vous proposons afin de les améliorer en permanence</li>
<li>Élaboration de statistiques commerciales et de fréquentation de nos services afin de mieux cibler nos campagnes et de mesurer leur portée et l’audience générée</li>
<li>Sécurité de vos données et de vos opérations
Nous vous informons, lors de la collecte de vos données personnelles, si certaines données doivent être obligatoirement renseignées ou si elles sont facultatives. Les données obligatoires sont nécessaires pour le fonctionnement des Services. Concernant les données facultatives, vous êtes entièrement libre de les indiquer ou non.</li>
</ul>
<h3>IV. A qui peuvent être transmises vos données ?</h3>

<p>Les données peuvent être transmises aux partenaires qui nous permettent de proposer
les produits et services Immeuble Comara pour leur exécution, leur gestion,
leur traitement et leur paiement. Nous ne partageons pas vos données personnelles avec des
tierces personnes dans un objectif marketing.</p>
</div>



