<div class="container bg-white p-5 my-5">
  <h1>Politique de confidentialité</h1>
    <h3>1. Identité</h3>
      <p></p>
    <h3>2. Hébergement</h3>
      <p>Nom de l’hébergeur : Clever Cloud,</p>
      <p>Adresse de la société : 3 RUE DE L ALLIER - 44000 NANTES</p>
      <p>Retrouvez les mentions légales de l'hébergeur <a target="_blank" href="https://www.clever-cloud.com/en/legal-terms">Ici</a></p>
    <h3>3. Type de données collectées</h3>
      <p>Les données collectées correspondent aux données d'identification, de contact (prénom, nom,
      numéro de téléphone, adresse e-mail, adresse postale.)</p>
      <p>Nous collectons ces données lorsque vous remplissez notre formulaire de réservation.</p>
      <p></p>
    <h3>4. Finalité du traitement</h3>
      <p>Vos informations seront utilisées pour vous contacter dans le cadre de la location d'un de nos logements.</p>
      <p>Elles peuvent également vous permettre d'obtenir des propositions commerciales si celles-ci sont demandées.</p>
    <h3>5. Durée de conservation</h3>
      <p>Vos données seront supprimées au bout de 3 ans en l'absence de réponse à nos solliciations. </p>
</div>

