<div class="container bg-white my-5 py-5">
  <h1 class="ml-5">Règlement Immeuble COMARA</h1>
   <ol>
      <li class="m-4">Une réservation est confirmé de manière définitive dès que vous payez un acompte (20%) a la commande,
      ou la totalité. Le reste payable dès l'arrivée sur place.</li>
      <li class="m-4">Vous pouvez payer par virement, par PayPal, à la commande.
      Sur place le paiement ne se fait qu’en liquide (Euros et FCFA acceptés).</li>
      <li class="m-4">Une réservation payée n’est pas remboursable sauf si vous prévenez 3 semaines en avance.</li>
      <li class="m-4">Une réservation provisoire, est une réservation faite sur le site sans payement elle n’empêche pas une autre personne de réserver sur les mêmes dates.</li>
      <li class="m-4">L'état des lieux est fait à l’arrivée du client et au départ du client.</li>
      <li class="m-4">avant de sortir de l’appartement ou du studio le client doit éteindre la clim et toutes les ampoules.</li>

      <li class="m-4">Pour tous problèmes techniques signalez le nous, nous ferons le maximum pour apporter une sliution.</li>
      <li class="m-4">les gardiens se chargent du changement de bouteille de gaz fini, si le client signale.</li>

      <li class="m-4">internet wifi disponible 24h sur 24, n’hésitez pas à demander le code wifi.</li>

      <li class="m-4">Pas de fête ou d’animaux.</li>
      <li class="m-4">La Tv possède de nombreuses chaines si vous voulez un bouquet de chaine particulier supplémentaire c’est à votre charge, vous pouvez en faire la demande nos agents s’en occuperons.</li>
      <li class="m-4">les dames de ménage interviennent une fois par semaine à la demande du client.</li>

      <li class="m-4">avant son départ le client doit remettre la clé de l'appartement ou du studio a l'agent chargé de l’état des lieux ou aux gardiens.</li>

      <li class="m-4">panier de linge disponible : lavage machine seulement = 5000 XOF</li>
      <li class="m-4">Lavage machine + repassage = 10 000 XOF</li>
      <li class="m-4">matelas supplémentaire = 3000 XOF / nuit  </li>
   </ol>
</div>




