.footer {
  background-color: $lm-gray;
}

.link-footer {
  text-decoration: none !important;
  color: $dark-gray;
  padding: 0;
}

.footer-category {
  display: flex;
}

@media(max-width: 768px) {
  .footer-category {
    display: grid;
  }
}
