.navbar-lewagon {
  justify-content: space-between;
  background: $green;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-menu {
  color: $light-dark;
  font-family: 'mukta';
  font-size: 24px;
}

.navbar-menu:hover {
  text-decoration: none;
  color: $light-dark;
}
