.form-home-booking {
  background-color: $white;
  border: none;
  margin: 0px;
  margin: 45px 30px !important;
  font-family: 'mukta';
  font-size: 18px;
  text-align: center;
}

.datepicker-query {
  background-color: $white;
  border: none;
  margin: 0px;
  padding: 45px 30px;
  font-family: 'mukta';
  font-size: 18px;
  text-align: center;
}

.end-date-query {
  background-color: $white;
  border: none;
  margin: 0px;
  padding: 45px 30px;
  font-family: 'mukta';
  font-size: 18px;
  text-align: center;
}

.submit-home-booking {
  background-color: $green;
  padding: 45px 35px;
  font-size: 20px;
  color: $light-dark;

}

.submit-index-show {
  background-color: $light-dark;
  padding: 45px 30px;
  font-size: 24px;
  color: $white;
}


.index-show-search-bar {
  background-color: $white;
  display: inline;
  font-family: 'Staatliches';
  z-index: 9;
  margin-top: -50px;
  color: $light-dark;
  position: absolute; /*or fixed*/
  right: 0px;

}

.home-search-bar {
  background-color: $white;
  display: inline;
  font-family: 'Staatliches';
  z-index: 9;
  margin-top: -50px;
  color: $light-dark;
}

@media (max-width: 1024px) {
  .form-home-booking {
  background-color: $white;
  border: none;
  margin: 0px;
  margin: 25px 10px !important;
  font-family: 'mukta';
  font-size: 16px;
  text-align: center;
}

.datepicker-query {
  background-color: $white;
  border: none;
  margin: 0px;
  padding: 25px 10px;
  font-family: 'mukta';
  font-size: 16px;
  text-align: center;
}

.end-date-query {
  background-color: $white;
  border: none;
  margin: 0px;
  padding: 25px 10px;
  font-family: 'mukta';
  font-size: 16px;
  text-align: center;
}

.submit-home-booking {
  background-color: $green;
  padding: 25px 10px;
  font-size: 18px;
  color: $light-dark;

}

.submit-index-show {
  background-color: $light-dark;
  padding: 25px 10px;
  font-size: 18px;
  color: $white;
}


.index-show-search-bar {
  background-color: $white;
  display: inline;
  font-family: 'Staatliches';
  z-index: 9;
  margin-top: -30px;
  color: $light-dark;
  position: absolute; /*or fixed*/
  right: 0px;
}

.home-search-bar {
  background-color: $white;
  display: inline;
  font-family: 'Staatliches';
  z-index: 9;
  margin-top: -30px;
  color: $light-dark;
}

}

@media(max-width: 415px) {
  .form-home-booking {
  background-color: $white;
  border: none;
  margin: 0px;
  margin: 10px 5px !important;
  font-family: 'mukta';
  font-size: 10px;
  text-align: center;
}

.datepicker-query {
  background-color: $white;
  border: none;
  margin: 0px;
  padding: 0px 5px;
  font-family: 'mukta';
  font-size: 10px;
  text-align: center;
}

.end-date-query {
  background-color: $white;
  border: none;
  margin: 0px;
  padding: 0px 5px;
  font-family: 'mukta';
  font-size: 10px;
  text-align: center;
}

.submit-home-booking {
  background-color: $green;
  padding: 15px 10px;
  font-size: 10px;
  color: $light-dark;

}

.submit-index-show {
  background-color: $light-dark;
  padding: 15px 10px;
  font-size: 10px;
  color: $white;
}


.index-show-search-bar {
  background-color: $white;
  display: inline;
  font-family: 'Staatliches';
  z-index: 9;
  margin-top: -30px;
  color: $light-dark;
  position: absolute; /*or fixed*/
  right: 0px;
}

.home-search-bar {
  background-color: $white;
  display: inline;
  font-family: 'Staatliches';
  z-index: 9;
  margin-top: -30px;
  color: $light-dark;
}

}
