// // taille normal

// .search-bar {

// }
// .form-home-booking {
//   background-color: $white;
//   border: none;
//   font-family: 'mukta';
//   font-size: 18px;
//   text-align: center;
//   height: 130px;
//   width: 50px;
//   margin-right: 20px;
//   box-shadow: 0 0 0 0rem rgba(22, 127, 251, 0.25) !important;
//   &:focus {
//     outline: none;
//   }
// }

// form:focus {
//   box-shadow: 0 0 0 0rem rgba(22, 127, 251, 0.25) !important;
// }
// .form-control:focus {
//  box-shadow: 0 0 0 0rem rgba(22, 127, 251, 0.25) !important;
// }

// .form-home-booking:focus {

// }

// .datepicker-query {
//   background-color: $white;
//   border: none;
//   margin: 0px !important;
//   font-family: 'mukta';
//   font-size: 18px;
//   text-align: center;
//   // height: 130px;
//   // width: 180px;
// }

// .end-date-query {
//   background-color: $white;
//   border: none;
//   margin: 0px;
//   font-family: 'mukta';
//   font-size: 18px;
//   text-align: center;
//   // height: 130px;
//   // width: 180px;
// }

// .submit-home-booking {
//   background-color: $green;
//   // height: 130px;
//   // width: 180px;
//   width: 100%;
//   font-size: 20px;
//   color: $light-dark;
//   border: none !important;
// }




// .index-show-search-bar {
//   background-color: $white;
//   display: inline;
//   font-family: 'Staatliches';
//   z-index: 9;
//   margin-top: -50px;
//   color: $light-dark;
//   position: absolute; /*or fixed*/
//   right: 0px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.1);

// }

// .home-search-bar {
//   background-color: $white;
//   display: inline;
//   font-family: 'Staatliches';
//   z-index: 9;
//   margin-top: -10px;
//   color: $light-dark;
//   position: absolute; /*or fixed*/
//   right: 0px;
//   box-shadow: 0 0 10px rgba(0,0,0,0.1);
// }




// // taille grand tablette

// @media (max-width: 1024px) {

// .form-home-booking {
//   background-color: $white;
//   border: none;
//   font-family: 'mukta';
//   font-size: 18px;
//   text-align: center;
//   // height: 90px;
//   // width: 70px;
//   padding-top: 0px;
//   margin-right: 20px;
//   box-shadow: 0 0 0 0rem rgba(22, 127, 251, 0.25) !important;
// }


// .user-query {
//   padding-top: 25px;
// }

// .datepicker-query {
//   background-color: $white;
//   border: none;
//   font-family: 'mukta';
//   font-size: 16px;
//   text-align: center;

// }

// .end-date-query {
//   background-color: $white;
//   border: none;
//   font-family: 'mukta';
//   font-size: 16px;
//   text-align: center;
//   margin-right: 20px;
// }

// .submit-home-booking {
//   background-color: $green;
//   font-size: 18px;
//   color: $light-dark;
// }

// .submit-index-show {
//   background-color: $light-dark;
//   color: $white;
// }


// .index-show-search-bar {
//   background-color: $white;
//   display: inline;
//   font-family: 'Staatliches';
//   z-index: 9;
//   margin-top: -30px;
//   color: $light-dark;
//   position: absolute; /*or fixed*/
//   right: 0px;
// }

// .home-search-bar {
//   background-color: $white;
//   display: inline;
//   font-family: 'Staatliches';
//   z-index: 9;
//   margin-top: -30px;
//   color: $light-dark;
// }

// }

// @media(max-width: 415px) {


// }

// taille classique

.home-search-bar {
  width: 42vw;
  height: 15vh;
  display: flex;
  background-color: white;
  z-index: 9;
  margin-top: -50px;
  position: absolute;
  right: 25px;
}

.search-components {
  display: flex;
}

.datepicker-query {
 width: 12vw;
 height: 15vh;
 border: none;
 font-family: "mukta";
 text-align: center;
 box-shadow: none;
}

.end-date-query {
  width: 12vw;
  height: 15vh;
  border: none;
  font-family: "mukta";
  text-align: center;
  &:focus {
    outline: none;
  }
}

.icon-capacity {
  display: flex;
}

.user-capacity {
  display: flex;
  align-items: center;
  padding: 1vw;
}

.capacity-home-booking {
  width: 6vw;
  height: 15vh;
  border: none;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.submit-home-booking {
  width: 10vw;
  height: 15vh;
  background-color: $green;
  font-family: 'Staatliches';
  font-size: 20px;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.submit-index-show {
  width: 10vw;
  height: 15vh;
  background-color: $light-dark;
  color: $white;
  font-family: 'Staatliches';
  font-size: 20px;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
}

// grande tablette
@media(max-width: 1024px){

  .home-search-bar {
    width: 420px;
    height: 10vh;
  }

  .datepicker-query {
    width: 125px;
    height: 10vh;
  }

  .end-date-query {
    width: 125px;
    height: 10vh;
  }

  .capacity-home-booking {
    width: 60px;
    height: 10vh;
  }

  .submit-home-booking {
    width: 120px;
    height: 10vh;
  }

.submit-index-show {
  width: 110px;
  height: 10vh;
}
}

// tablette classique
@media(max-width: 768px){

  .home-search-bar {
  }

  .search-components {
  }

  .datepicker-query {
  }

  .end-date-query {
  }

  .user-capacity {
  }

  .capacity-home-booking {
  }

  .submit-home-booking {

  }

}

// grand smartphone
@media(max-width: 415px){
  .home-search-bar {
    width: 100vw;
    display: grid;
    height: 50px;
    right: 0;
  }

  .search-components {
    display: grid;
    width: 100%;
    height: 50px;
  }

  .datepicker-query {
    width: 100%;
    height: 50px;
  }

  .end-date-query {
    width: 100%;
    height: 50px;
  }

  .icon-capacity {
    display: flex;
  }

  .user-capacity {
    width: 30%;
    background-color: white;
    color: black;
    margin: 0;
    height: 50px;
    padding-left: 50px;
  }

  .capacity-home-booking {
    width: 70%;
    padding-top: 10px;
    height: 50px;
  }

  .submit-home-booking {
    width: 100%;
    height: 50px;

  }

  .submit-index-show {
  width: 100%;
  height: 10vh;
}

}

// smartphone classique
@media (max-width: 320px){
  .home-search-bar {
  }

  .search-components {
  }

  .datepicker-query {
  }

  .end-date-query {
  }

  .user-capacity {
  }

  .capacity-home-booking {
  }

  .submit-home-booking {

  }

}
