h1 {
font-family: "Staatliches";
color: $light-dark;
}

h2 {
font-family : "mukta";
font-weight: 600;
color: $white;
font-size: 48px;
}
h3 {
 font-family: "mukta";
}

p {
  font-family: "Hind Vadodara";
  letter-spacing: 10%;
  line-height: 25px;
  color: $light-dark;
}

body {
  min-height: 100vh !important;
}

.contenu {
  min-height: 75vh !important;
}

i {
  font-size: 20px;
}

