// partie photo

.photo-flat-index-principale {
 height: 540px;
 width: 550px
}

.photo-flat-index-secondaire {
 height: 170px;
 width: 170px;
 cursor: pointer;
}

.photo-show-flat {
  border-top: 1px solid $lm-gray;
}

// partie description

.titles-description-flat {
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px solid $lm-gray;
}

.description-show-flat {
  background-color: $white;
  border-radius: 5px;
}

.text-description-flat {
  min-height: 200px;
}

.list-equipements {
  min-height: 200px;
}

.text-hours-accessibility {
  min-height: 100px;
}
// partie réservation

.booking-show-flat {
  border-radius: 5px;
  background-color: $white;
}

.button-booking {
  background-color: $green;
  border: none;
  font-family: 'Staatliches';
  padding: 10px 90px;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#price-per-day {
  font-size: 24px;
}

.total-price-content {
  font-family: "Mukta";
  font-weight: 500;
  font-size: 24px;
}
