.reminder-booking {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  padding-top: 50px;

}

.recap-new-client {
  background-color: $white;
  margin: 50px 150px;
}

.photo-flat-remind {
  padding-left: 20px;
}
