.reminder-booking {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  padding-top: 50px;

}

.recap-new-client {
  background-color: $white;
  margin: 50px 150px;
}

.photo-flat-remind {
  padding-left: 20px;
}

.equipment-new {
  border: 1px solid $dm-gray;
  display: flex;
  border-radius: 3px;
}

.booking-client-new {
  margin: 0 !important;
  background-image: asset-url('test-cover.jpg');
  padding-top: 20px;
  padding-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
