.add-flat {
    background-color: #4CD3C2;
    height: 45px;
    width: 45px;
    padding-left: 14px;
    border-radius: 50%;
}

.link-show-flat:hover h3 {
  color: $green;
}

.list-flat-user:hover {
  border: 2px solid $green;
}

// booking waiting

#no-circle {
  font-size: 28px;
  color: $light-dark;
}

#check-circle {
  font-size: 28px;
  color: $light-dark;
}

#user-circle {
  font-size: 28px;
  color: $light-dark;
  cursor: pointer;
}


.card-user-booking {
  border-bottom: 1px solid $dm-gray;
}

.flat-name-booking {
  font-family: 'mukta';
  font-size: 20px;
}

.start-date-booking {

}

.end-date-booking {

}

.date-booking-action {
  background-color: $lm-gray;
}

.link-flat {
  text-decoration: none;
  color: $dark-gray;
}

.link-flat:hover {
  text-decoration: none;
  color: $green;
}

.equipment-name {
  font-size: 18px;
  font-weight: 600;
}
