.add-flat {
    background-color: #4CD3C2;
    padding: 5px 25px;
    border-radius: 50%;
}

.link-show-flat:hover h3 {
  color: $green;
}

.list-flat-user:hover {
  border: 2px solid $green;
}

// booking waiting

#no-circle {
  font-size: 28px;
}

#check-circle {
  font-size: 28px;
}

#user-circle {
  font-size: 28px;
}


.card-user-booking {
  border-bottom: 1px solid $dm-gray;
}

.flat-name-booking {
  font-family: 'mukta';
  font-size: 20px;
}

.start-date-booking {

}

.end-date-booking {

}

.date-booking-action {
  background-color: $lm-gray;
}
